<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Matt Taylor: Art</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Bootstrap JS (Use defer to wait until HTML and CSS content are fully loaded) -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Custom JS -->
        <script defer src="/static/script.js"></script>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand ms-2 me-1 px-2 py-2 rounded" href="index.html">
                <img src="/static/images/MT_Profile.jpg" width="35" height="30" class="d-inline-block align-top me-1 rounded" alt="A photo of Matt Taylor.">
                Matt Taylor
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a class="nav-link rounded " href="index.html">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link rounded " href="about.html">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link rounded active" href="art.html">Art</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link rounded " href="writing.html">Writing</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2 px-2">
                    <a class="nav-link rounded " href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        </nav>

        <!-- Main content -->
        <main class="container mt-4">
            <div class="text-center mb-2">
                <h1>My Art</h1>
            </div>
            <p>
                I am very much an amateur artist, but enjoy sketching in pen and pencil. I include my drawings below as much to illustrate my website design skills as to showcase my illustrations.
            </p>

            <div class="row justify-content-center">
                <div class="col-md-9 mb-3">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/ttrpgs/ironsworn.jpg" alt="A pen drawing of Matthew Rhys from The Americans.">
                            <div class="card-img-overlay">
                                <h5 class="card-title">TTRPG Art</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Drawings for tabletop roleplaying games that I run or play in. The above image is for an <em>Ironsworn</em> campaign.</p>
                            <p class="card-text text-center">Click the buttons below to view different TTRPG art carousels.</p>
                        </div>
                        <div class="text-center">
                            <div class="row justify-content-center mb-3">
                                <div class="col-md-4">
                                    <button class="btn ttrpg-link" data-carousel="carousel-blades">Blades in the Dark</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn ttrpg-link" data-carousel="carousel-high-water">Dungeons and Dragons</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn ttrpg-link" data-carousel="carousel-others">Others</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                        <!-- Carousel Container -->
                        <div id="carousel-container" class="d-none">
                            <!-- Blades in the Dark Carousel -->
                            <div id="carousel-blades" class="carousel slide d-none" data-bs-ride="carousel" data-bs-interval="5000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/art/ttrpgs/bitd/cp_dishonored.jpg" class="d-block w-100" alt="A pen drawing of Cédric Peyravernay's art from Dishonored 2 (2016).">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="carousel-heading">Blades in the Dark</h5>
                                            <p class="carousel-description">Pen and pencil sketches of Cédric Peyravernay's evocative art.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/bitd/cp_dishonored_2.jpg" class="d-block w-100" alt="A pen drawing of Cédric Peyravernay's art from Dishonored 2 (2016).">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/bitd/cp_dishonored_3.jpg" class="d-block w-100" alt="A pencil drawing of Cédric Peyravernay's art from Dishonored 2 (2016).">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/bitd/cp_dishonored_4.jpg" class="d-block w-100" alt="A pencil drawing of Cédric Peyravernay's art from Dishonored 2 (2016).">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/bitd/cp_dishonored_5.jpg" class="d-block w-100" alt="A pen drawing of Cédric Peyravernay's art from Prey (2017).">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-blades" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel-blades" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>

                            <!-- High Water Carousel -->
                            <div id="carousel-high-water" class="carousel slide d-none" data-bs-ride="carousel" data-bs-interval="5000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/art/ttrpgs/high_water/castor.jpg" class="d-block w-100" alt="A pen drawing of a tiefling.">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="carousel-heading">High Water</h5>
                                            <p class="carousel-description">Pen sketches of characters from my D&D campaign <em>High Water</em>.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/high_water/antisaint_joan.jpg" class="d-block w-100" alt="A pen drawing of a woman standing above a table.">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/high_water/odilie.jpg" class="d-block w-100" alt="A stylised pen drawing of a violinist.">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/high_water/frank.jpg" class="d-block w-100" alt="A pen drawing of a man with a distorted halo sat at a bar.">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/high_water/roidh.jpg" class="d-block w-100" alt="A stylised pen drawing of a man with a crow mask.">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-high" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel-high" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>

                            <!-- Others Carousel -->
                            <div id="carousel-others" class="carousel slide d-none" data-bs-ride="carousel" data-bs-interval="5000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/art/ttrpgs/kasu.jpg" class="d-block w-100" alt="A pen drawing of a medical droid.">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="carousel-heading">KASU-17</h5>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/art/ttrpgs/pillars.jpg" class="d-block w-100" alt="A pencil drawing of a death godlike from Pillars of Eternity (2015).">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="carousel-heading">Pillars of Eternity</h5>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-others" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel-others" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/the_king.jpg" alt="A pen drawing of Timothée Chalamet in 'The King'(2019)">
                            <div class="card-img-overlay">
                                <h5 class="card-title">The King</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Timothée Chalamet in <em>The King</em> (2019), 2023.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/munich_edge_of_war.jpg" alt="A pen drawing of Jannis Niewöhner in Munich - The Edge of War. (2021)">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Munich - The Edge of War</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Jannis Niewöhner in <em>Munich - The Edge of War</em> (2021), 2023.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/succession.jpg" alt="A pen drawing of Kendall and Logan Roy from Succession.">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Succession</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Kendall and Logan Roy from <em>Succession</em>, 2023.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/the_americans.jpg" alt="A pen drawing of Matthew Rhys from The Americans.">
                            <div class="card-img-overlay">
                                <h5 class="card-title">The Americans</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Matthew Rhys from <em>The Americans</em>, 2023.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/booker.jpg" alt="A pen drawing of Matthias Schoenaerts in 'The Old Guard'(2020)">
                            <div class="card-img-overlay text-start">
                                <h5 class="card-title">The Old Guard</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Matthias Schoenaerts in <em>The Old Guard</em> (2020), 2023.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/glass_onion_henwick.jpg" alt="Pen drawing of Jessica Henwick in Glass Onion (2022).">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Glass Onion</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Jessica Henwick in <em>Glass Onion</em> (2022), 2023.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/toshiro_mifune_double.jpg" alt="A pen drawing of Toshiro Mifune from Rashomon (1950) and Snow Trail (1947).">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Toshiro Mifune</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pen drawing of Toshiro Mifune from <em>Rashomon</em> (1950) and Snow Trail (1947), 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/toshiro_mifune.jpg" alt="A pen drawing of Toshiro Mifune in 'Snow Trail' (1947)">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Snow Trail</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pencil drawing of Toshiro Mifune in <em>Snow Trail</em> (1947), 2021.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card art-card h-100">
                        <div class="position-relative">
                            <img class="card-img-top art-img" src="/static/images/art/knights_tale.jpg" alt="Pen drawing of Heath Ledger in 'A Knight's Tale' (2001).">
                            <div class="card-img-overlay">
                                <h5 class="card-title">A Knight's Tale</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Pencil drawing of Heath Ledger in <em>A Knight's Tale</em> (2001), 2021.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

         <!-- Footer -->
         <footer class="footer fixed-bottom text-center py-2">
            <span>© 2025 Matt Taylor</span>
         </footer>
    </body>
</html>